<!-- Include Editor style. -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.4/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.4/css/froala_style.min.css' rel='stylesheet' type='text/css' />

<!-- Include JS file. -->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.3.4/js/froala_editor.min.js'></script>
          
Install from NPM
 <script>
      $(function() {
          $('textarea#edit').froalaEditor({
          	inlineMode: false
          })
      });
  </script>


<%= form_for :post, url: posts_path,class:"form-group", html: { multipart: true } do |f| %>

 <% if @post.errors.any?  %>
 <h2><%= pluralize(@post.errors.count, "error") %> stopped this post from saving </h2>
 <ul>
   <% @post.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
   <% end %>
 </ul>
 <% end %>
 <p>
 	<%= f.label :title, class:"col-sm-2 control-label" %><nr>
 	<%= f.text_field :title, class: 'form-control' %>
 </p>

 <p>
 	<%= f.label :body, class:"col-sm-2 control-label" %><nr>
 	<%= f.text_area :body, class:'form-control', id: 'edit' %>
 </p>
 <p>
 	<%= f.label :image %><nr>
 	<%= f.file_field :image %>
 </p>
</div>
 <p>
     
     <%= button_tag(type: 'submit', class: "btn btn-primary") do %> Submit Post
     <% end %>
 </p>
 
<% end %>
